body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #10923c;
    color: white;
    padding: 20px;
}

div {
    margin: 10px 0;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    margin: 10px 0;
}
